/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
NotoColorEmoji,
Segoe UI Symbol,
Android Emoji,
EmojiSymbols;
/* Custom CSS */

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

.home-page {
    max-width: 100vw;
    overflow-x: hidden;
}

.home-page * {
    min-width: 0;
}

.home-page h1,
.home-page h2,
.home-page h3,
.home-page p,
.home-page li {
    overflow-wrap: break-word;
}

/* Custom CSS end */
